/* Get a font */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');

/* Apply background color */
/* Apply font color */
/* Apply font */
body {
  background: #ffffff;
  color: #000000;
  font-family: "Nunito";
}

/* Link Color */
/* Link decorators - None = remove underlines */
a {
  color: #333;
  text-decoration: none;
}

/* Set width of page content */
/* left and right margins */
.content {
  max-width: 960px;
  margin: 0 auto;
}

/* Nav bar margins + padding */
/* Flex container + have links appear right-justified + sit at bottom of container*/
/* Color bottom of flex container */
nav {
  margin: 10px auto 80px;
  padding: 10px 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  border-bottom: 1px solid #9b0505;
}

/* Margins within the navigation bar */
nav a {
  margin-left: 12px;
}


nav .logo {
  margin-right: auto;
}

/* footer styling */
footer {
  display: block;
  text-align: center;
  padding: 30px 0;
  margin-top: 60px;
  color: #000000;
  border-top: 1px solid #000000;
}

/* styling for 404 page */
.not-found {
  text-align: center;
}
.not-found a{
  color:cornflowerblue;
  text-decoration: underline;
}

